#about-jasmine {
    text-align: center;
    margin-top: 20px;
  }
  
  #title-main {
    font-size: 80px;
    margin: 0;
  }
  
  #title-sub {
    font-size: 40px;
    margin: 0;
  }
  
  #image-grid {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically if necessary */
    margin-top: 20px;
    flex-wrap: wrap; /* Allow wrapping if there are multiple images */
  }
  
  #rotating-image {
    width: 450px;
    height: 600px;
    border-radius: 50%;
    animation: rotate 5s linear ; /* Add 'infinite' to keep the rotation continuous */
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  