.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 9px solid #285943;
    padding: 20px;
    border-radius: 20px;
   
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .project-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .project-info .button {
    margin-top: 10px;
    background-color:blue;
    color: black
  }
  
  .project-info p {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(159, 228, 159);
  }
  
  