.resume-link {
    color: #070da1; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px; 
}

.resume-link:hover {
    text-decoration: underline;
    color: #0056b3; 
}
