#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #c5d0cfaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #eef7f9aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #e9cdcd;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #c5d0cfaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #eef7f9aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #e9cdcd;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 20px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: right;
  z-index: 1000; 
}

.navbar a {
  text-decoration: none;
  color: #4dbb70;
  font-size: 20px;
  padding: 10px 15px;
  transition: all 0.3s ease;
  margin-left: 5px; 
  text-align: center;
}

.navbar a:hover {
  color: #599d86;
  transform: scale(1.1);
  font-weight:bold;
}